<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<!--시자가가가가가가가가가작작-->
    
       
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://use.fontawesome.com/32b41309dc.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css">


<!--폰트-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


<!--본문-->

<!--헤더-->
 <section id="head" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center"><h10>아이디 공유 사이트</h10> <h1>SHARE ID</h1></h3>
            <p class="text-muted"> <h4 class="intro-heading"></a></p>
        </div>
      </div>
      </div>
    </section>
    
<!--사이트소게    -->
    
   <section id="intro" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center" style="color: white">
            <h3 class="section-subheading"><h1  style="text-decoration-line: underline padding:30px">SHARE ID는</h1></h3>
            <p class="text-muted"> <h4 class="intro-heading">영화를 집에서 저렴하게 볼 수 있도록 해주는<br> Netflix 서비스는 계정을 공유하는 사람들이 늘어날수록 이용료가 낮아집니다.<br>
        이 사이트를 통해 다양한 사람들과 Netflix 계정을 <span style="background-color: #d9534f">안전하게 공유하세요.</span><br> Netflix는 언제 어디서나 자유롭게 영화를 볼 수 있도록 해주는 서비스입니다.<br>
    <a href="https://www.netflix.com">Netflix에 대하여 더 알아보기</a></p>
        </div>
      </div>
      </div>
    </section>
    
    
<!--사이트 특징-->

  <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading" >서비스 특징 <br><br><br>—<br><br></h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">절약</h4>
            <p class="text-muted">계정을 공유해서 싼 가격으로<br> 서비스를 이용해보세요!<br> 여러 명이 모일수록 <br>더 많은 할인이 됩니다.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">편리함</h4>
            <p class="text-muted">SHARE ID는 당신이 계정을 공유할<br> 사람을 더 쉽게 모을수 있는 <br>플랫폼을 제공합니다. <br>게시판에 글을 올려 계정을<br>공유할 사람을 모아보세요.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">숨겨진 서비스</h4>
            <p class="text-muted">상단바에 보이지 않는 어딘가를 클릭해보세요. 뜻밖의 행운이 있을지도 몰라요.<br> ! 숨겨진 서비스 속 일들에 대해서는 개발자들이 책임지지 않습니다 !</p>
          </div>
        </div>
      </div>
    </section>



<!--개발자-->

 <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">개발팀소개</h2>
            <h3 class="section-subheading text-muted">성균관대학교 멋쟁이사자처럼 5기</h3>
            <h2 class="section-heading"><br><br><br>—<br><br></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/assets/정여진.jpg" alt="">
              <h4 style="text-align:center">정여진</h4>
              <p class="text-muted" style="text-align:center">갓운영진<br>성균관대학교 멋쟁이사자처럼 5기</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/profile.php?id=100011950208622&fref=ts">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/assets/김진호.jpg" alt="">
              <h4 style="text-align:center">김진호</h4>
              <p class="text-muted" style="text-align:center">일개팀원<br>성균관대학교 멋쟁이사자처럼 5기</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/assets/허용회.jpg" alt="">
              <h4 style="text-align:center">허용회</h4>
              <p class="text-muted" style="text-align:center">일개팀원<br>성균관대학교 멋쟁이사자처럼 5기</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/profile.php?id=100005103754687&fref=ts">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/assets/안윤하.jpg" alt="">
              <h4 style="text-align:center">안윤하</h4>
              <p class="text-muted" style="text-align:center">일개팀원<br>성균관대학교 멋쟁이사자처럼 5기</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--<div class="row">-->
        <!--  <div class="col-lg-8 mx-auto text-center">-->
        <!--    <p class="large text-muted">관심 있으시면 연락주세요 ^오^</p>-->
        <!--  </div>-->
        </div>
      </div>
    </section>

<!--contact us-->
 <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contact Us</h2>
            <h3 class="section-subheading text-muted">건의사항을 남겨주세요</h3>
            <h2 class="section-heading"><br><br><br>—<br><br></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button class="btn btn-xl" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


<!--푸터-->

 <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; 멋쟁이사자처럼 5th 2017</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/likelionskku/?fref=ts">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    
    
    
<style>
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);



h1{
  font-size: 100px;
}

p {font-family: 'Jeju Gothic', sans-serif;
text-align:center
  /*line-height: 1.75;*/
  font-size: 20px;}

h2,
h3,
h4,
h5,
h6 {font-family: 'Jeju Gothic', sans-serif;
    font-size : 20px;
  text-transform: uppercase; }
  
  
head,
body,
footer {
  background-color: #eee;
  font-family: 'Jeju Gothic', sans-serif;
    font-size : 20px;
  
}

section{
  padding: 300px;s
}

/*// 헤더*/


h10{
  font-size: 30px;
  color: #d9534f;
}

section#head{
  background-image:url("/assets/mainphoto.png");
  background-size: 2300px auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  color: white;
}
.masthead {
  text-align: center;
  color: black;
  background-image: url("firstsection.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}  
.intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    }
.intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
    }
.intro-heading {
      font-size: 20px;
      font-weight: 20;
      line-height: 50px;
      margin-bottom: 25px;
    }

/*// 사이트소개, 사이트특징*/
section#intro{
    background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: #d9534f;
  
}


.intro-heading {
  margin: 15px 30px;
  text-transform: none;
}

/*//개발자*/
.team-member {
  margin-bottom: 50px;
  text-align: center;
}
/*}*/
/*img {*/
/*    width: 225px;*/
/*    height: 225px;*/
/*    border: 7px solid white;*/
  }
h4 {
    text-align:center
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
p {
    margin-top: 0;
  }
}

/*//컨택트*/
/*// Styling for the contact section*/
section#contact {s
  /*background-color: gray-darker;*/
  background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
}  
.section-heading {
    color: #d9534f;
    font-size: 50px;
  }
.form-group {
    margin-bottom: 25px;
}
input,
textarea {
      padding: 20px;
    }
input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: theme-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: gray-lighter;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: gray-lighter;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: gray-lighter;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: gray-lighter;
  }
  .text-danger {
    color: theme-danger;
  }
}

/*// 푸터*/
/*// Styling for the footer*/
footer {
  padding: 25px 0;
  text-align: center;
}
span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}
/*li {*/
/*   font-size: 20px;*/
/*      line-height: 40px;*/
/*      display: block;*/
/*      width: 40px;*/
/*      height: 40px;*/
/*      -webkit-transition: all 0.3s;*/
/*      -moz-transition: all 0.3s;*/
/*      transition: all 0.3s;*/
/*      color: white;*/
/*      border-radius: 100%;*/
/*      outline: none;*/
/*      background-color: gray-darker;*/
        
/*}*/
/*a {*/
/*      font-size: 20px;*/
/*      line-height: 40px;*/
      /*display: block;*/
/*      width: 40px;*/
/*      height: 40px;*/
/*      -webkit-transition: all 0.3s;*/
/*      -moz-transition: all 0.3s;*/
/*      transition: all 0.3s;*/
/*      color: white;*/
/*      border-radius: 100%;*/
/*      outline: none;*/
/*      background-color: gray-darker;*/
/*      &:active,*/
/*      &:focus,*/
/*      &:hover {*/
/*        background-color: theme-primary;*/
/*      }*/
/*    }*/
  }
}


//



    </style>