// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.replyCss{
    text-align:left;
    border: 1px solid black;
    width:40%;
    margin:auto;
}
.replyInput{
    width:40%;
    margin:auto;
    margin-top:30px;
    height:100%;
}
.replyInputCss{
    width:100%;
}